/* Colors - BEGIN */

$hair: #7aad53;
$tie: #e097e6;
$light-skin: #ede2ca;
$shadow-skin: #e0d3b6;
$shoes: #3b2a0f;

$c1: #323643;
$c2: #323643;
$c3: #93deff;
$c4: #93deff;

$d1: #283149;
$d2: #404b69;
$d3: #00818a;
$d4: #dbedf3;

/* source: https://colorhunt.co/trendy */
/* source: http://blog.visme.co/website-color-schemes/ */

$cb1: #1a1a1d;
$cb2: #4e4e50;
$cb3: #6f2232;
$cb4: #950740;
$cb5: #c3073f;

$s1: #0b0c10;
$s2: #1f2833;
$s3: #c5c6c7;
$s4: #66fcf1;
$s5: #45a29e;

$f1: #2c3531;
$f2: #116466;
$f3: #d9b08c;
$f4: #ffcb9a;
$f5: #d1e8e2;

$gc1: #61892f;
$gc2: #86c232;
$gc3: #222629;
$gc4: #474b4f;
$gc5: #6b6e70;

$gce1: #a0e73d;

$h1: #3d1166;
$h2: #661165;
$h3: #121166;

/* Colors - END */

html {

}

body {

  background-color: #eeeeee;
  color: $gc3;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}

section#cover {

  h1 {

    font-size: 24vh;
    margin-top: 0;
  }
}

/* https://www.awwwards.com/sites/veille-reputation-squad */

.panel {

  border-color: $gc5;

  .panel-heading {

    background-color: $gc3;
    border-color: $gc5;
    color: white;
    font-family: 'Bebas Neue';
  }

  .panel-body {

    background-color: $gc4;

    button {

      background-color: $gc2;
    }
  }

}



.professor-thera-img {

  max-height: 60vh;
}

@keyframes slide-down {

  from {

    opacity: 0.1;
    top: 0;
  }

  to {

    opacity: 1;
    top: -20px;
  }
}

.slide-down-img {

  animation-name: slide-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: $f2;

  // color: #688bff;
  position: relative;  
  font-size: 8vh;
}

h1.welcome {

  // font-size:

  // font-size: 12vh;
}


.upload-photo-button {

  background-color: $gc2;
  border: 0;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
}

.modal {

  overflow: visible;
  padding: 0;
}

@media (orientation: landscape) {

  .modal {
  
    height: 9vmin;
    width: 16vmin;
  }
}

@media (orientation: portrait) {

  .modal {
  
    height: 16vmin;
    width: 9vmin;
  }
}

section#take-part-section {
  // background-color: rgba(196, 94, 255, 0.144);
  background-image: linear-gradient(#eeeeee00, rgba($f2, 0.6));
}

main::after {

  content: '';
  background-image: image-url('science-background.jpg');
  opacity: 0.05;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}