
@font-face {

  font-family: 'Fh Space';
  font-weight: 400;
  font-style: normal;
  src: font-url('fh_space/Fh_Space.otf') format('opentype');
}

@font-face {

  font-family: 'Letters for Learners';
  font-weight: 400;
  font-style: normal;
  src: font-url('letters_for_learners/Letters_for_Learners.ttf') format('truetype');
}

/* Roboto - BEGIN */

@font-face {

  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: font-url('roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {

  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: font-url('roboto/Roboto-Regular.ttf') format('truetype');
}

/* Roboto - END */

@font-face {

  font-family: 'Teen';
  font-weight: 400;
  font-style: normal;
  src: font-url('teen/teen.ttf') format('truetype');
}