
/* Bebas Neue - BEGIN */

@font-face {

  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
  src: font-url('bebas_neue/BebasNeue-Regular.otf') format('opentype');
}

/* Bebas Neue - END */

/* Lato - BEGIN */

@font-face {

  font-family: 'Lato';
  font-weight: 200;
  font-style: normal;
  src: font-url('lato/Lato-Hairline') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 200;
  font-style: italic;
  src: font-url('lato/Lato-HairlineItalic') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: font-url('lato/Lato-Light') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: font-url('lato/Lato-LightItalic') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: font-url('lato/Lato-Regular') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: font-url('lato/Lato-Italic') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
  src: font-url('lato/Lato-Bold') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 500;
  font-style: italic;
  src: font-url('lato/Lato-BoldItalic') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
  src: font-url('lato/Lato-Black') format('truetype');
}

@font-face {

  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  src: font-url('lato/Lato-BlackItalic') format('truetype');
}

/* Lato - END */
