<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= image_tag('professor-thera-alt.png', class: 'professor-thera-img') %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="tryme2">THERA</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= fa_icon 'angle-double-up', class: 'slide-down-img' %>
      </div>
    </div>
  </div>
</section>
