<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome <%= @user.name %></h1>
        <%# FIXME %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com//embed/91XPH_6pL_0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-xs-12">
      <h1>asd</h1>
    </div>
  </div>
</section>